#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px ;
    padding-top: 4rem;
}

h2{
    font-size: 34px;
    color: rgb(255, 166, 0);
}
h3{
    font-size: 28px;
    color: rgb(255, 166, 0);
}
p{
    font-size: 28px;
    color: white;
    text-align: center;
}
#divsContainer{
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
}

#divsContainer div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 130px 150px;
    background-color: rgb(49, 47, 47);
    border-radius: 10px;
    
}